#wat.macro/ProgramBodyEvalFailed {
  :message "macro :wat::service::defservice — program body eval failed"
  :location #wat.core/Span {
    :file "tests/services/probe_arc278_peers_bijection_case5_form_extra.wat"
    :line 44
    :col 1
    :end #wat.core.Option/Some [
      #wat.core/Pos {
        :line 68
        :col 51
      }
    ]
  }
  :causes []
  :macro-name ":wat::service::defservice"
  :cause #wat.macro/MalformedTemplate {
    :message "malformed template: probe::caller: :ephemeral holds a dialed Peer<probe::Echo::Op,…::Reply> but surface :probe::Echo is not declared in :peers — add :peers [… :probe::Echo …] (the explicit s2s dependency DAG)"
    :location #wat.core/Span {
      :file "wat/service.wat"
      :line 913
      :col 27
      :end #wat.core.Option/Some [
        #wat.core/Pos {
          :line 921
          :col 119
        }
      ]
    }
    :causes []
    :reason "probe::caller: :ephemeral holds a dialed Peer<probe::Echo::Op,…::Reply> but surface :probe::Echo is not declared in :peers — add :peers [… :probe::Echo …] (the explicit s2s dependency DAG)"
  }
}
