#wat.runtime/TypeMismatch {
  :message ":wat::holon::Bundle/first: expected Bundle (signature head HolonAST), got non-Bundle HolonAST variant `<unavailable>`"
  :location #wat.core/Span {
    :file "tests/reflection/wat_arc201_holon_ast_accessors_first_err_leaf.wat"
    :line 7
    :col 48
    :end #wat.core.Option/Some [
      #wat.core/Pos {
        :line 7
        :col 52
      }
    ]
  }
  :causes []
  :op ":wat::holon::Bundle/first"
  :expected "Bundle (signature head HolonAST)"
  :got {
    :type "non-Bundle HolonAST variant"
    :rendered "<unavailable>"
    :provenance nil
  }
}
