#wat.runtime/TypeMismatch {
  :message ":wat::runtime::signature-of-fn: expected wat::core::fn value (e.g., from `(:wat::core::fn [...] -> :T body)`), got wat::core::i64 `42`"
  :location #wat.core/Span {
    :file "tests/reflection/wat_arc201_signature_of_fn_err_non_fn.wat"
    :line 6
    :col 50
    :end #wat.core/Option.Some {
      :value #wat.core/Pos {
        :line 6
        :col 52
      }
    }
  }
  :causes []
  :op ":wat::runtime::signature-of-fn"
  :expected "wat::core::fn value (e.g., from `(:wat::core::fn [...] -> :T body)`)"
  :got {
    :type "wat::core::i64"
    :rendered "42"
    :provenance nil
  }
  :frames [
    #wat.kernel/Frame {
      :symbol ":user::main"
      :span #wat.core/Span {
        :file "src/freeze.rs"
        :line 0
        :col 13
        :end #wat.core/Option.None {}
      }
      :kind #wat.kernel/FrameKind.Wat {}
    }
    #wat.kernel/Frame {
      :symbol "<rust>"
      :span #wat.core/Span {
        :file "src/reflect/verbs.rs"
        :line 0
        :col 24
        :end #wat.core/Option.None {}
      }
      :kind #wat.kernel/FrameKind.Rust {}
    }
  ]
  :frames-elided 0
}
