#wat.runtime/TypeMismatch {
  :message ":wat::runtime::extract-arg-types: expected :wat::WatAST (signature head), got wat::core::i64 `42`"
  :location #wat.core/Span {
    :file "tests/reflection/wat_arc201_extract_arg_types_err_non_bundle.wat"
    :line 6
    :col 52
    :end #wat.core/Option.Some {
      :value #wat.core/Pos {
        :line 6
        :col 54
      }
    }
  }
  :causes []
  :op ":wat::runtime::extract-arg-types"
  :expected ":wat::WatAST (signature head)"
  :got {
    :type "wat::core::i64"
    :rendered "42"
    :provenance nil
  }
  :frames [
    #wat.kernel/Frame {
      :symbol ":user::main"
      :span #wat.core/Span {
        :file "src/freeze.rs"
        :line 0
        :col 13
        :end #wat.core/Option.None {}
      }
      :kind #wat.kernel/FrameKind.Wat {}
    }
    #wat.kernel/Frame {
      :symbol "<rust>"
      :span #wat.core/Span {
        :file "src/reflect/verbs.rs"
        :line 0
        :col 24
        :end #wat.core/Option.None {}
      }
      :kind #wat.kernel/FrameKind.Rust {}
    }
  ]
  :frames-elided 0
}
