#wat.check/CheckErrors {
  :message "2 type-check errors"
  :location nil
  :causes []
  :errors [
    #wat.check/TypeMismatch {
      :message ":t::helper: parameter #1 expects wat.type/i64; got wat.type/String"
      :location #wat.core/Span {
        :file "tests/wat_lang/wat_arc157_def_type_error_in_expr.wat.bad"
        :line 4
        :col 38
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 4
            :col 50
          }
        }
      }
      :causes []
      :callee ":t::helper"
      :param "#1"
      :expected "wat.type/i64"
      :got "wat.type/String"
      :remedies []
    }
    #wat.check/TypeMismatch {
      :message ":t::helper: parameter #1 expects wat.type/i64; got wat.type/String"
      :location #wat.core/Span {
        :file "tests/wat_lang/wat_arc157_def_type_error_in_expr.wat.bad"
        :line 4
        :col 38
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 4
            :col 50
          }
        }
      }
      :causes []
      :callee ":t::helper"
      :param "#1"
      :expected "wat.type/i64"
      :got "wat.type/String"
      :remedies []
    }
  ]
}
