#wat.macro/ProgramBodyEvalFailed {
  :message "macro :wat::core::cond — program body eval failed"
  :location #wat.core/Span {
    :file "wat/core.wat"
    :line 958
    :col 15
    :end #wat.core.Option/Some #wat.core/Pos {
      :line 958
      :col 62
    }
  }
  :causes []
  :macro-name ":wat::core::cond"
  :cause #wat.macro/MalformedTemplate {
    :message "malformed template: cond: non-exhaustive — needs a terminal :else arm"
    :location #wat.core/Span {
      :file "wat/core.wat"
      :line 948
      :col 5
      :end #wat.core.Option/Some #wat.core/Pos {
        :line 948
        :col 82
      }
    }
    :causes []
    :reason "cond: non-exhaustive — needs a terminal :else arm"
  }
}
