#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/TypeMismatch {
      :message ":wat::i64::+: parameter #1 expects wat.type/i64; got wat.type/f64"
      :location #wat.core/Span {
        :file "tests/wat_lang/wat_arc157_def_type_mismatch.wat.bad"
        :line 3
        :col 62
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 3
            :col 68
          }
        }
      }
      :causes []
      :callee ":wat::i64::+"
      :param "#1"
      :expected "wat.type/i64"
      :got "wat.type/f64"
      :remedies []
    }
  ]
}
