#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/ReservedPrefix {
      :message "cannot define :wat::core::pi — reserved prefix (:wat::, :rust::, :$bound::); user defines must use their own prefix"
      :location #wat.core/Span {
        :file "tests/wat_lang/wat_arc157_def_reserved_scalar.wat.bad"
        :line 10
        :col 2
        :end #wat.core.Option/Some [
          #wat.core/Pos {
            :line 10
            :col 17
          }
        ]
      }
      :causes []
      :name ":wat::core::pi"
    }
  ]
}
