#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/DefRedefForbidden {
      :message "`:wat::core::def` redef of `:wat-arc157-def-redef-false::a`: name already bound at tests/wat_lang/wat_arc157_def_redef_false.wat.bad:3:2. Redef is forbidden by default; opt in via `(:wat::config::set-redef! true)` before this form. Use a different name, or enable redef explicitly."
      :location #wat.core/Span {
        :file "tests/wat_lang/wat_arc157_def_redef_false.wat.bad"
        :line 4
        :col 2
        :end #wat.core.Option/Some [
          #wat.core/Pos {
            :line 4
            :col 17
          }
        ]
      }
      :causes []
      :name ":wat-arc157-def-redef-false::a"
      :prior-loc #wat.core/Span {
        :file "tests/wat_lang/wat_arc157_def_redef_false.wat.bad"
        :line 3
        :col 2
        :end #wat.core.Option/Some [
          #wat.core/Pos {
            :line 3
            :col 17
          }
        ]
      }
    }
  ]
}
