#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/TypeMismatch {
      :message ":wat::core::i64::+: parameter #1 expects :wat::core::i64; got :wat::core::f64"
      :location #wat.core/Span {
        :file "tests/wat_lang/wat_arc157_def_type_mismatch.wat.bad"
        :line 3
        :col 71
        :end #wat.core.Option/Some [
          #wat.core/Pos {
            :line 3
            :col 77
          }
        ]
      }
      :causes []
      :callee ":wat::core::i64::+"
      :param "#1"
      :expected ":wat::core::i64"
      :got ":wat::core::f64"
      :remedies []
    }
  ]
}
