{
  :tag "TYPE"
  :file "tests/cli/wat_cli__check_types.wat"
  :line 11
  :col 23
  :ty "(wat.type/PersistentVector :- [wat.type/i64])"
  :wide "(wat.type/PersistentVector :- [wat.type/i64])"
  :check-errors 0
}
