#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/ArityMismatch {
      :message ":wat::core::HashMap: expected 2 argument(s); got 0"
      :location #wat.core/Span {
        :file "tests/collection/probe_hashmap_ctor_vector_symmetric_p8.wat.bad"
        :line 5
        :col 9
        :end #wat.core.Option/Some [
          #wat.core/Pos {
            :line 5
            :col 28
          }
        ]
      }
      :causes []
      :callee ":wat::core::HashMap"
      :expected 2
      :got 0
    }
  ]
}
