#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/TypeMismatch {
      :message "{…} map literal: parameter value #2 expects :wat::core::i64; got :wat::core::String"
      :location #wat.core/Span {
        :file "tests/collection/probe_arc215_collection_literal_inference_p5.wat.bad"
        :line 4
        :col 32
        :end #wat.core.Option/Some [#wat.core/Pos {:line 4 :col 37}]
      }
      :causes []
      :callee "{…} map literal"
      :param "value #2"
      :expected ":wat::core::i64"
      :got ":wat::core::String"
      :remedies []
    }
  ]
}
