#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/MalformedForm {
      :message "malformed :wat::core::HashMap form: arity after :K :V type args must be even (alternating key/value pairs); got 1"
      :location #wat.core/Span {
        :file "tests/collection/probe_hashmap_ctor_vector_symmetric_p7.wat.bad"
        :line 5
        :col 9
        :end #wat.core.Option/Some [
          #wat.core/Pos {
            :line 5
            :col 28
          }
        ]
      }
      :causes []
      :head ":wat::core::HashMap"
      :reason "arity after :K :V type args must be even (alternating key/value pairs); got 1"
      :remedies []
    }
  ]
}
