#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/TypeMismatch {
      :message ":wat::core::HashMap: parameter value #1 expects :wat::core::i64; got :wat::core::String"
      :location #wat.core/Span {
        :file "tests/collection/probe_hashmap_ctor_vector_symmetric_p6.wat.bad"
        :line 6
        :col 16
        :end #wat.core.Option/Some #wat.core/Pos {:line 6 :col 28}
      }
      :causes []
      :callee ":wat::core::HashMap"
      :param "value #1"
      :expected ":wat::core::i64"
      :got ":wat::core::String"
      :remedies []
    }
  ]
}
