[
  #wat.kernel/LociDiedError.StartupError {
    :failure #wat.kernel/Failure {
      :error #wat.rete/ReteCheckErrors {
        :message "1 rete rule validation error"
        :location #wat.core/Span {
          :file "tests/rete/probe_arc278_enum_variant_typo_bad.wat"
          :line 27
          :col 32
          :end #wat.core/Option.Some {
            :value #wat.core/Pos {
              :line 27
              :col 79
            }
          }
        }
        :errors [
          #wat.rete/UnknownEnumVariant {
            :message "defrule `evt::good` (`:evt::Req`): `:evt::G` has no variant `Hii`; available variants: [Hi, Lo]"
            :location #wat.core/Span {
              :file "tests/rete/probe_arc278_enum_variant_typo_bad.wat"
              :line 27
              :col 32
              :end #wat.core/Option.Some {
                :value #wat.core/Pos {
                  :line 27
                  :col 79
                }
              }
            }
            :rule "evt::good"
            :fact-type "evt::Req"
            :enum-path "evt::G"
            :variant "Hii"
            :available-variants ["Hi" "Lo"]
          }
        ]
      }
      :frames []
      :frames-elided 0
    }
  }
]
