[#wat.kernel.LociDiedError/StartupError [#wat.rete/ReteCheckErrors {:message "#wat.rete/ReteCheckErrors {:message \"1 rete rule validation error\" :location nil :causes [] :errors [#wat.rete/UnknownEnumVariant {:message \"defrule `evt::good` (`:evt::Req`): `:evt::G` has no variant `Hii`; available variants: [Hi, Lo]\" :location #wat.core/Span {:file \"tests/rete/probe_arc278_enum_variant_typo_bad.wat\" :line 27 :col 32 :end #wat.core.Option/Some [#wat.core/Pos {:line 27 :col 79}]} :causes [] :rule \"evt::good\" :fact-type \"evt::Req\" :enum-path \"evt::G\" :variant \"Hii\" :available-variants [\"Hi\" \"Lo\"]}]}" :location nil :causes [] :errors [#wat.rete/UnknownEnumVariant {:rule "evt::good" :fact-type "evt::Req" :enum-path "evt::G" :variant "Hii" :available-variants ["Hi" "Lo"] :span #wat.core/Span {:file "tests/rete/probe_arc278_enum_variant_typo_bad.wat" :line 27 :col 32 :end #wat.core.Option/Some [#wat.core/Pos {:line 27 :col 79}]}}]}]]
