[
  #wat.kernel/LociDiedError.StartupError {
    :failure #wat.kernel/Failure {
      :error #wat.rete/ReteCheckErrors {
        :message "1 rete rule validation error"
        :location #wat.core/Span {
          :file "tests/rete/probe_arc278_enum_variant_typo_tagged.wat"
          :line 26
          :col 65
          :end #wat.core/Option.Some {
            :value #wat.core/Pos {
              :line 26
              :col 74
            }
          }
        }
        :causes [
          #wat.rete/UnknownField {
            :message "defrule `tg::good`: `:tg::Req` has no field `:tg::P.Hi`; available fields: [k, grade]"
            :location #wat.core/Span {
              :file "tests/rete/probe_arc278_enum_variant_typo_tagged.wat"
              :line 26
              :col 65
              :end #wat.core/Option.Some {
                :value #wat.core/Pos {
                  :line 26
                  :col 74
                }
              }
            }
            :causes []
            :rule "tg::good"
            :fact-type "tg::Req"
            :field "tg::P.Hi"
            :available-fields ["k" "grade"]
          }
        ]
      }
      :frames []
      :actual #wat.core/Option.None {}
      :expected #wat.core/Option.None {}
      :frames-elided 0
    }
  }
]
