[
  #wat.kernel.LociDiedError/StartupError [
    #wat.rete/ReteCheckErrors {
      :message "#wat.rete/ReteCheckErrors {:message \"1 rete rule validation error\" :location nil :causes [] :errors [#wat.rete/UnknownField {:message \"defrule `fsb::r`: `:fsb::Src` has no field `:nofield`; available fields: [k]\" :location #wat.core/Span {:file \"tests/rete/probe_arc278_field_span_bind.wat\" :line 12 :col 39 :end #wat.core.Option/Some [#wat.core/Pos {:line 12 :col 47}]} :causes [] :rule \"fsb::r\" :fact-type \"fsb::Src\" :field \"nofield\" :available-fields [\"k\"]}]}"
      :location nil
      :causes []
      :errors [
        #wat.rete/UnknownField {
          :rule "fsb::r"
          :fact-type "fsb::Src"
          :field "nofield"
          :available-fields ["k"]
          :span #wat.core/Span {
            :file "tests/rete/probe_arc278_field_span_bind.wat"
            :line 12
            :col 39
            :end #wat.core.Option/Some [
              #wat.core/Pos {
                :line 12
                :col 47
              }
            ]
          }
        }
      ]
    }
  ]
]
