[#wat.kernel.LociDiedError/StartupError [#wat.rete/ReteCheckErrors {:message "#wat.rete/ReteCheckErrors {:message \"1 rete rule validation error\" :location nil :causes [] :errors [#wat.rete/UnknownField {:message \"defrule `tg::good`: `:tg::Req` has no field `:tg::P::Hi`; available fields: [k, grade]\" :location #wat.core/Span {:file \"tests/rete/probe_arc278_enum_variant_typo_tagged.wat\" :line 26 :col 31 :end #wat.core.Option/Some [#wat.core/Pos {:line 26 :col 76}]} :causes [] :rule \"tg::good\" :fact-type \"tg::Req\" :field \"tg::P::Hi\" :available-fields [\"k\" \"grade\"]}]}" :location nil :causes [] :errors [#wat.rete/UnknownField {:rule "tg::good" :fact-type "tg::Req" :field "tg::P::Hi" :available-fields ["k" "grade"] :span #wat.core/Span {:file "tests/rete/probe_arc278_enum_variant_typo_tagged.wat" :line 26 :col 31 :end #wat.core.Option/Some [#wat.core/Pos {:line 26 :col 76}]}}]}]]
