#wat.check/CheckErrors {
  :message "3 type-check errors"
  :location nil
  :causes []
  :errors [
    #wat.check/MalformedForm {
      :message "malformed :my::Event::Pair form: positional variant construction is retired; write `(:my::Event::Pair {:field value …})` or `(:my::Event::Pair {})` for a unit variant"
      :location #wat.core/Span {
        :file "tests/types/enums_tagged_arity_mismatch.wat.bad"
        :line 5
        :col 23
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 5
            :col 39
          }
        }
      }
      :causes []
      :head ":my::Event::Pair"
      :reason "positional variant construction is retired; write `(:my::Event::Pair {:field value …})` or `(:my::Event::Pair {})` for a unit variant"
      :remedies []
    }
    #wat.check/MalformedForm {
      :message "malformed :wat::core::match form: map pattern has 1 key(s), variant `:my::Event::Pair` declares 2"
      :location #wat.core/Span {
        :file "tests/types/enums_tagged_arity_mismatch.wat.bad"
        :line 6
        :col 5
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 6
            :col 53
          }
        }
      }
      :causes []
      :head ":wat::core::match"
      :reason "map pattern has 1 key(s), variant `:my::Event::Pair` declares 2"
      :remedies []
    }
    #wat.check/MalformedForm {
      :message "malformed :wat::core::match form: non-exhaustive: enum :my::Event missing arm(s) for variant(s): Pair (or include `_` wildcard)"
      :location #wat.core/Span {
        :file "tests/types/enums_tagged_arity_mismatch.wat.bad"
        :line 5
        :col 4
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 5
            :col 21
          }
        }
      }
      :causes []
      :head ":wat::core::match"
      :reason "non-exhaustive: enum :my::Event missing arm(s) for variant(s): Pair (or include `_` wildcard)"
      :remedies []
    }
  ]
}
