#wat.macro/ProgramBodyEvalFailed {
  :message "macro :wat::core::defrecord — program body eval failed"
  :location #wat.core/Span {
    :file "tests/types/probe_arc227_stone2_defrecord_onearg.wat.bad"
    :line 2
    :col 1
    :end #wat.core.Option/Some [
      #wat.core/Pos {
        :line 2
        :col 38
      }
    ]
  }
  :causes []
  :macro-name ":wat::core::defrecord"
  :cause #wat.macro/MacroEvalRuntimeFailed {
    :message "macro_eval: runtime::eval failed"
    :location #wat.core/Span {
      :file "wat/Record.wat"
      :line 145
      :col 58
      :end #wat.core.Option/Some [
        #wat.core/Pos {
          :line 145
          :col 103
        }
      ]
    }
    :causes []
    :cause #wat.runtime/MalformedForm {
      :message "malformed :wat::core::rest form: cannot take rest of empty Vec"
      :location #wat.core/Span {
        :file "wat/Record.wat"
        :line 145
        :col 58
        :end #wat.core.Option/Some [
          #wat.core/Pos {
            :line 145
            :col 103
          }
        ]
      }
      :causes []
      :head ":wat::core::rest"
      :reason "cannot take rest of empty Vec"
    }
  }
}
