#wat.check/CheckErrors {
  :message "2 type-check errors"
  :location nil
  :causes []
  :errors [
    #wat.check/ReturnTypeMismatch {
      :message ":user::compute: body produces :test::Measured; signature declares :wat::holon::HolonAST"
      :location #wat.core/Span {
        :file "tests/types/probe_arc227_stone2_defrecord_bool.wat.bad"
        :line 3
        :col 62
        :end #wat.core.Option/Some [
          #wat.core/Pos {
            :line 3
            :col 84
          }
        ]
      }
      :causes []
      :function ":user::compute"
      :expected ":wat::holon::HolonAST"
      :got ":test::Measured"
      :remedies []
    }
    #wat.check/TypeMismatch {
      :message ":test::Measured: parameter #1 expects :wat::core::f64; got :wat::core::bool"
      :location #wat.core/Span {
        :file "tests/types/probe_arc227_stone2_defrecord_bool.wat.bad"
        :line 3
        :col 79
        :end #wat.core.Option/Some [
          #wat.core/Pos {
            :line 3
            :col 83
          }
        ]
      }
      :causes []
      :callee ":test::Measured"
      :param "#1"
      :expected ":wat::core::f64"
      :got ":wat::core::bool"
      :remedies []
    }
  ]
}
