#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/MalformedForm {
      :message "malformed :t::Plain form: :t::Plain declares 0 type parameter(s) but 1 were supplied"
      :location #wat.core/Span {
        :file "tests/types/probe_ex003_construction_annotation_is_honoured__non_generic.wat.bad"
        :line 5
        :col 25
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 5
            :col 34
          }
        }
      }
      :causes []
      :head ":t::Plain"
      :reason ":t::Plain declares 0 type parameter(s) but 1 were supplied"
      :remedies []
    }
  ]
}
