#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/TypeMismatch {
      :message ":t::Opt.Some: parameter v expects :wat::core::i64; got :wat::core::String"
      :location #wat.core/Span {
        :file "tests/types/probe_ex003_construction_annotation_is_honoured__enum_wrong_value.wat.bad"
        :line 5
        :col 63
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 5
            :col 68
          }
        }
      }
      :causes []
      :callee ":t::Opt.Some"
      :param "v"
      :expected ":wat::core::i64"
      :got ":wat::core::String"
      :remedies []
    }
  ]
}
