#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/ReturnTypeMismatch {
      :message ":u::a: body produces :wat::core::i64; signature declares :wat::core::String"
      :location #wat.core/Span {
        :file "tests/types/probe_arc251_type_the_polymorphic_accessor__record_param_lie.wat"
        :line 3
        :col 86
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 3
            :col 92
          }
        }
      }
      :causes []
      :function ":u::a"
      :expected ":wat::core::String"
      :got ":wat::core::i64"
      :remedies []
    }
  ]
}
