#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/MalformedForm {
      :message "malformed :t::Box form: :t::Box declares 1 type parameter(s) but 2 were supplied"
      :location #wat.core/Span {
        :file "tests/types/probe_ex003_construction_annotation_is_honoured__too_many.wat.bad"
        :line 5
        :col 25
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 5
            :col 32
          }
        }
      }
      :causes []
      :head ":t::Box"
      :reason ":t::Box declares 1 type parameter(s) but 2 were supplied"
      :remedies []
    }
  ]
}
