#wat.check/CheckErrors {:message "1 type-check error" :location nil :causes [] :errors [#wat.check/TypeMismatch {:message ":u::takes-has: parameter #1 expects (:u::Demo.Has :- [:wat::core::i64]); got (:u::Demo :- [:wat::core::i64])" :location #wat.core/Span {:file "tests/types/probe_arc251_instantiate_the_type_argument__enum_does_not_narrow.wat" :line 8 :col 18 :end #wat.core/Option.Some {:value #wat.core/Pos {:line 8 :col 19}}} :causes [] :callee ":u::takes-has" :param "#1" :expected "(:u::Demo.Has :- [:wat::core::i64])" :got "(:u::Demo :- [:wat::core::i64])" :remedies []}]}
