#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/ReturnTypeMismatch {
      :message ":u::fb: body produces wat.type/i64; signature declares wat.type/String"
      :location #wat.core/Span {
        :file "tests/types/probe_arc251_type_the_polymorphic_accessor__variant_param_lie.wat"
        :line 5
        :col 85
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 5
            :col 93
          }
        }
      }
      :causes []
      :function ":u::fb"
      :expected "wat.type/String"
      :got "wat.type/i64"
      :remedies []
    }
  ]
}
