#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/TypeMismatch {
      :message ":wat::core::<: parameter #1 expects :wat::core::Orderable; got :wat::holon::HolonAST"
      :location #wat.core/Span {
        :file "tests/types/ord_holon_ast.wat.bad"
        :line 4
        :col 5
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 4
            :col 32
          }
        }
      }
      :causes []
      :callee ":wat::core::<"
      :param "#1"
      :expected ":wat::core::Orderable"
      :got ":wat::holon::HolonAST"
      :remedies []
    }
  ]
}
