#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/TypeMismatch {
      :message ":wat::core::<: parameter #1 expects an orderable type (i64, u8, f64, String, bool, keyword, Instant, Duration, Vector<T>, Tuple<T…>, Option<T>, Result<T,E>); got :my::Point"
      :location #wat.core/Span {
        :file "tests/types/ord_struct.wat.bad"
        :line 9
        :col 6
        :end #wat.core.Option/Some [
          #wat.core/Pos {
            :line 9
            :col 19
          }
        ]
      }
      :causes []
      :callee ":wat::core::<"
      :param "#1"
      :expected "an orderable type (i64, u8, f64, String, bool, keyword, Instant, Duration, Vector<T>, Tuple<T…>, Option<T>, Result<T,E>)"
      :got ":my::Point"
      :remedies []
    }
  ]
}
