[
  #wat.kernel.LociDiedError/Panic [
    "boom"
    #wat.core.Option/Some [
      #wat.kernel/Failure {
        :error #wat.core/Fault {
          :message "boom"
          :location #wat.kernel/Location {
            :file "<spawn-process-program>"
            :line 3
            :col 34
          }
          :causes []
        }
        :frames [
          #wat.kernel/Frame {
            :file "src/freeze.rs"
            :line 1525
            :symbol ":user::main"
          }
        ]
        :actual #wat.core.Option/None []
        :expected #wat.core.Option/None []
      }
    ]
  ]
]
