[
  #wat.kernel/LociDiedError.Panic {
    :message "boom"
    :failure #wat.core/Option.Some {
      :value #wat.kernel/Failure {
        :error #wat.core/Fault {
          :message "boom"
          :location #wat.core/Span {
            :file "<spawn-process-program>"
            :line 3
            :col 34
            :end #wat.core/Option.Some {
              :value #wat.core/Pos {
                :line 3
                :col 57
              }
            }
          }
          :causes []
        }
        :frames [
          #wat.kernel/Frame {
            :symbol ":user::main"
            :span #wat.core/Span {
              :file "src/freeze.rs"
              :line 0
              :col 13
              :end #wat.core/Option.None {}
            }
            :kind #wat.kernel/FrameKind.Wat {}
          }
        ]
        :actual #wat.core/Option.None {}
        :expected #wat.core/Option.None {}
      }
    }
  }
]
