#wat.load/Fetch {
  :cause #wat.kernel/LoadFetchError.NotFound {
    :path "/no/such.wat"
  }
  :span #wat.core/Span {
    :file "test.wat"
    :line 1
    :col 1
    :end #wat.core/Option.None {}
  }
}
