#wat.runtime/IntegerOverflow {
  :op ":wat::i64::+"
  :a 41
  :b 9223372036854775807
  :span #wat.core/Span {
    :file "tests/diagnostics/probe_excursus003_step4_g1_c114_retired.wat"
    :line 10
    :col 3
    :end #wat.core/Option.Some {
      :value #wat.core/Pos {
        :line 10
        :col 40
      }
    }
  }
  :frames [
    #wat.kernel/Frame {
      :fn ":wat::i64::+"
      :at #wat.core/Span {
        :file "src/numeric/arith.rs"
        :line 0
        :col 9
        :end #wat.core/Option.None {}
      }
      :tail-elided 0
    }
    #wat.kernel/Frame {
      :fn ":wat::core::+"
      :at #wat.core/Span {
        :file "wat/core.wat"
        :line 66
        :col 62
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 66
            :col 63
          }
        }
      }
      :tail-elided 0
    }
    #wat.kernel/Frame {
      :fn ":user::grow"
      :at #wat.core/Span {
        :file "tests/diagnostics/probe_excursus003_step4_g1_c114_retired.wat"
        :line 10
        :col 3
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 10
            :col 40
          }
        }
      }
      :tail-elided 1
    }
  ]
  :frames-elided 0
}
