[
  #wat.kernel/LociDiedError.RuntimeError {
    :failure #wat.kernel/Failure {
      :error #wat.runtime/TypeMismatch {
        :message ":wat::core::length: expected (Vector :- [T]), (HashMap :- [K V]), (PersistentMap :- [K V]), (PersistentVector :- [T]), (HashSet :- [T]), or (List :- [T]), got wat::core::String `\"abc\"`"
        :location #wat.core/Span {
          :file "tests/diagnostics/probe_ex003_silent_failure_pair__f031_length_on_string.wat"
          :line 8
          :col 26
          :end #wat.core/Option.Some {
            :value #wat.core/Pos {
              :line 8
              :col 52
            }
          }
        }
        :op ":wat::core::length"
        :expected "(Vector :- [T]), (HashMap :- [K V]), (PersistentMap :- [K V]), (PersistentVector :- [T]), (HashSet :- [T]), or (List :- [T])"
        :got #wat.runtime/ValueSnapshot {
          :type "wat::core::String"
          :rendered "\"abc\""
        }
      }
      :frames [
        #wat.kernel/Frame {
          :fn ":wat::core::length"
          :at #wat.core/Span {
            :file "src/collection/eval.rs"
            :line 0
            :col 21
            :end #wat.core/Option.None {}
          }
          :tail-elided 0
        }
        #wat.kernel/Frame {
          :fn ":user::main"
          :at #wat.core/Span {
            :file "src/freeze.rs"
            :line 0
            :col 13
            :end #wat.core/Option.None {}
          }
          :tail-elided 0
        }
      ]
      :frames-elided 0
    }
  }
]
