[
  #wat.kernel/LociDiedError.RuntimeError {
    :message #wat.runtime/TypeMismatch {
      :message ":wat::core::HashSet/conj: expected hashable value (primitive, HolonAST, WatAST, (HashSet :- [T]), (Vector :- [T]), or (HashMap :- [K V])), got wat::core::List `(<:rust::cache::Lru>)`"
      :location #wat.core/Span {
        :file "src/collection/eval.rs"
        :line 0
        :col 46
        :end #wat.core/Option.None {}
      }
      :causes []
      :op ":wat::core::HashSet/conj"
      :expected "hashable value (primitive, HolonAST, WatAST, (HashSet :- [T]), (Vector :- [T]), or (HashMap :- [K V]))"
      :got {
        :type "wat::core::List"
        :rendered "(<:rust::cache::Lru>)"
        :provenance nil
      }
      :frames [
        #wat.kernel/Frame {
          :symbol ":user::main"
          :span #wat.core/Span {
            :file "src/freeze.rs"
            :line 0
            :col 13
            :end #wat.core/Option.None {}
          }
          :kind #wat.kernel/FrameKind.Wat {}
        }
        #wat.kernel/Frame {
          :symbol "<rust>"
          :span #wat.core/Span {
            :file "src/collection/eval.rs"
            :line 0
            :col 28
            :end #wat.core/Option.None {}
          }
          :kind #wat.kernel/FrameKind.Rust {}
        }
      ]
      :frames-elided 0
    }
  }
]
