#wat.check/TypeMismatch {
  :callee ":user::greet"
  :param "name"
  :expected ":wat::core::String"
  :got ":wat::core::i64"
  :remedies []
  :span #wat.core/Span {
    :file "test.wat"
    :line 10
    :col 5
    :end #wat.core.Option/None []
  }
}
