#wat.macro/ProgramBodyEvalFailed {
  :macro-name "expand-call"
  :cause #wat.macro/MacroEvalRuntimeFailed {
    :message "macro_eval: runtime::eval failed"
    :location {:file "src/my-lib.wat" :line 18 :col 3}
    :causes []
    :cause #wat.runtime/UnboundSymbol {
      :message "unbound symbol: str"
      :location {:file "src/my-lib.wat" :line 18 :col 3}
      :causes []
      :name "str"
    }
  }
  :span {:file "src/my-lib.wat" :line 10 :col 1}
}
