#wat.runtime/EdnCoerceMismatch {
  :op ":wat::kernel::readln"
  :expected ":user::Point"
  :got "Map"
  :path ["x" "y"]
  :span #wat.core/Span {
    :file "test.wat"
    :line 1
    :col 0
    :end #wat.core.Option/None []
  }
}
