#wat.type/MalformedVariant {
  :enum-name "MyEnum"
  :offending "BadVariant"
  :reason "not a keyword"
  :remedies []
  :span #wat.core/Span {
    :file "test.wat"
    :line 1
    :col 0
    :end #wat.core.Option/None []
  }
}
