#wat.runtime/UnknownField {
  :record-class "user::Point"
  :field "z"
  :available ["x" "y"]
  :span #wat.core/Span {
    :file "test.wat"
    :line 1
    :col 0
    :end #wat.core.Option/None []
  }
}
