#wat.check/NoMatchingClauseAtCallSite {
  :name ":user::greet"
  :called-arity 1
  :called-arg-types [":wat::core::i64"]
  :attempted-clauses [
    {
      :arity 1
      :param-types [":wat::core::String"]
    }
  ]
  :span #wat.core/Span {
    :file "test.wat"
    :line 1
    :col 1
    :end #wat.core.Option/None []
  }
}
