#wat.runtime/SandboxScopeLeak {
  :offending-name ":user::my-helper"
  :outer-define-span #wat.core/Span {
    :file "outer.wat"
    :line 10
    :col 4
    :end #wat.core.Option/None []
  }
  :span #wat.core/Span {
    :file "test.wat"
    :line 1
    :col 0
    :end #wat.core.Option/None []
  }
}
