#wat.type/ImpureVariantFieldInPureEnum {
  :enum-name ":user::MyEnum"
  :variant "WithHandle"
  :field "handle"
  :field-ty ":user::HandleStruct"
  :span #wat.core/Span {
    :file "test.wat"
    :line 1
    :col 0
    :end #wat.core.Option/None []
  }
}
