#wat.runtime/MalformedForm {
  :head ":wat::core::fn"
  :reason "param list must be a vector"
  :span #wat.core/Span {
    :file "test.wat"
    :line 1
    :col 0
    :end #wat.core.Option/None []
  }
}
