#wat.runtime/NotCallable {
  :got {
    :type "wat::core::String"
    :rendered "\"not-fn\""
  }
  :span #wat.core/Span {
    :file "test.wat"
    :line 3
    :col 7
    :end #wat.core/Option.None {}
  }
  :frames []
  :frames-elided 0
}
