#wat.runtime/NotCallable {
  :message "not callable: expected Function, got wat::core::String `\"not-a-callable-string\"`"
  :location #wat.core/Span {
    :file "src/runtime.rs"
    :line 0
    :col 17
    :end #wat.core/Option.None {}
  }
  :got {
    :type "wat::core::String"
    :rendered "\"not-a-callable-string\""
  }
}
