#wat.resolve/UnresolvedReferences {
  :message "1 unresolved reference"
  :location #wat.core/Span {
    :file "tests/diagnostics/probe_arc241_stone10_remedy_c04.wat.bad"
    :line 1
    :col 2
    :end #wat.core/Option.Some {
      :value #wat.core/Pos {
        :line 1
        :col 19
      }
    }
  }
  :errors [
    #wat.resolve/UnresolvedReference {
      :message "unresolved reference `:wat::core::xyzzy` (call head — not a builtin, not a registered function)"
      :location #wat.core/Span {
        :file "tests/diagnostics/probe_arc241_stone10_remedy_c04.wat.bad"
        :line 1
        :col 2
        :end #wat.core/Option.Some {
          :value #wat.core/Pos {
            :line 1
            :col 19
          }
        }
      }
      :path ":wat::core::xyzzy"
      :context "call head — not a builtin, not a registered function"
    }
  ]
}
