[
  #wat.kernel/AssertionFailure {
    :thread "main"
    :message ":wat::cache::Lru/new refused the capacity: it must be positive"
    :location #wat.core/Span {
      :file "tests/diagnostics/probe_ex003_lru_new_refuses_as_a_value__holographic_lru_new_zero_unhandled.wat"
      :line 10
      :col 14
      :end #wat.core/Option.Some {
        :value #wat.core/Pos {
          :line 10
          :col 82
        }
      }
    }
    :actual nil
    :expected nil
    :frames [
      #wat.kernel/Frame {
        :file "src/freeze.rs"
        :line 0
        :symbol ":user::main"
      }
    ]
    :upstream-chain nil
  }
  [
    #wat.kernel/LociDiedError.Panic {
      :message ":wat::cache::Lru/new refused the capacity: it must be positive"
      :failure #wat.core/Option.Some {
        :value #wat.kernel/Failure {
          :error #wat.core/Fault {
            :message ":wat::cache::Lru/new refused the capacity: it must be positive"
            :location #wat.core/Span {
              :file "tests/diagnostics/probe_ex003_lru_new_refuses_as_a_value__holographic_lru_new_zero_unhandled.wat"
              :line 10
              :col 14
              :end #wat.core/Option.Some {
                :value #wat.core/Pos {
                  :line 10
                  :col 82
                }
              }
            }
            :causes []
          }
          :frames [
            #wat.kernel/Frame {
              :file "src/freeze.rs"
              :line 0
              :symbol ":user::main"
            }
          ]
          :actual #wat.core/Option.None {}
          :expected #wat.core/Option.None {}
        }
      }
    }
  ]
]
