#wat.runtime/NotCallable {
  :message "not callable: expected Function, got wat::core::keyword `:wat::i64::+`"
  :location #wat.core/Span {
    :file "src/runtime.rs"
    :line 0
    :col 17
    :end #wat.core/Option.None {}
  }
  :got {
    :type "wat::core::keyword"
    :rendered ":wat::i64::+"
  }
}
