#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/MalformedForm {
      :message "malformed :wat::core::fn form: triple is incomplete; expected `name <- :T` but ran out of items"
      :location #wat.core/Span {
        :file "tests/function/fn_signature_malformed_args.wat"
        :line 6
        :col 42
        :end #wat.core.Option/Some [
          #wat.core/Pos {
            :line 6
            :col 43
          }
        ]
      }
      :causes []
      :head ":wat::core::fn"
      :reason "triple is incomplete; expected `name <- :T` but ran out of items"
      :remedies []
    }
  ]
}
