#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/MalformedForm {
      :message "malformed :wat::core::match form: non-exhaustive: :Option<T> needs arms for both :None and (Some _), or a wildcard. (Arc 055 — narrowing patterns like `(Some (1 _))` are partial; add a fallback `_` arm.)"
      :location #wat.core/Span {
        :file "tests/function/recursive_patterns_nonexhaustive.wat"
        :line 8
        :col 18
        :end #wat.core.Option/Some [
          #wat.core/Pos {
            :line 8
            :col 35
          }
        ]
      }
      :causes []
      :head ":wat::core::match"
      :reason "non-exhaustive: :Option<T> needs arms for both :None and (Some _), or a wildcard. (Arc 055 — narrowing patterns like `(Some (1 _))` are partial; add a fallback `_` arm.)"
      :remedies []
    }
  ]
}
