#proto/Frame.Chunk {:text "(:demo::alpha 1)"}
#proto/Frame.Chunk {:text "(:demo::beta 2)"}
#proto/Frame.SectionDone {:count 2}
#proto/Frame.Chunk {:text "hello "}
#proto/Frame.Chunk {:text "world"}
#proto/Frame.SectionDone {:count 2}
