[#wat.kernel/LociDiedError.RuntimeError {:message "#wat.runtime/UnknownFunction {:message \"unknown function: :wat::rete::f64::>X\" :location #wat.core/Span {:file \"tests/resolve/probe_arc255_the_blanket_hides_a_phantom_head__bogus_rete_head.wat\" :line 28 :col 28 :end #wat.core/Option.Some {:value #wat.core/Pos {:line 28 :col 57}}} :causes [] :path \":wat::rete::f64::>X\"}"}]
