#wat.check/CheckErrors {:message "1 type-check error" :location nil :causes [] :errors [#wat.check/ArityMismatch {:message ":wat::core::quote: expected 1 argument(s); got 3" :location #wat.core/Span {:file "tests/resolve/probe_arc255_the_type_position_has_its_own_authority__control_boundary_head_with_a_binder.wat" :line 15 :col 45 :end #wat.core/Option.Some {:value #wat.core/Pos {:line 15 :col 62}}} :causes [] :callee ":wat::core::quote" :expected 1 :got 3}]}
