#wat.macro/ReservedPrefix {:message "cannot declare macro :wat::core::SneakyS — reserved prefix (:wat::, :rust::, :$bound::); user macros must use their own prefix" :location #wat.core/Span {:file "tests/resolve/probe_arc255_the_reserved_prefix_wall_is_not_the_blanket__defstruct_wat.wat" :line 2 :col 1 :end #wat.core/Option.Some {:value #wat.core/Pos {:line 2 :col 67}}} :causes [] :name ":wat::core::SneakyS"}
