#wat.runtime/MalformedForm {
  :message "malformed :wat::string::byte-at form: index out of range: i=99, byte-length=5; require 0 <= i < byte-length"
  :location #wat.core/Span {
    :file "tests/resolve/probe_little_wat_bits_and_code_point.wat"
    :line 50
    :col 52
    :end #wat.core/Option.Some {
      :value #wat.core/Pos {
        :line 50
        :col 86
      }
    }
  }
  :causes []
  :head ":wat::string::byte-at"
  :reason "index out of range: i=99, byte-length=5; require 0 <= i < byte-length"
}
