#wat.check/CheckErrors {:message "1 type-check error" :location nil :causes [] :errors [#wat.check/MalformedForm {:message "malformed :wat::core::fn form: invalid type keyword: malformed type expression \":wat::core::Fn(wat::core::i64)->wat::core::i64\": a keyword-bodied fn type is retired; write the bracket `[A :-> R]` (stone 251.4c). `:fn(A)->R` and `:wat::core::Fn(A)->R` no longer parse" :location #wat.core/Span {:file "tests/resolve/probe_arc251_stone4c_fn_keyword_retired.wat.bad" :line 1 :col 34 :end #wat.core/Option.Some {:value #wat.core/Pos {:line 1 :col 80}}} :causes [] :head ":wat::core::fn" :reason "invalid type keyword: malformed type expression \":wat::core::Fn(wat::core::i64)->wat::core::i64\": a keyword-bodied fn type is retired; write the bracket `[A :-> R]` (stone 251.4c). `:fn(A)->R` and `:wat::core::Fn(A)->R` no longer parse" :remedies []}]}
