[#wat.kernel/LociDiedError.StartupError {:error #wat.resolve/UnresolvedReferences {:message "2 unresolved references" :location nil :causes [] :unresolved [#wat.resolve/UnresolvedReference {:path ":wat::core::Option.Some" :context "call head — not a builtin, not a registered function" :span #wat.core/Span {:file "tests/resolve/probe_arc255_the_blanket_hides_a_phantom_head__dot_spelling_reaches_the_accessor.wat" :line 37 :col 27 :end #wat.core/Option.Some {:value #wat.core/Pos {:line 37 :col 50}}}} #wat.resolve/UnresolvedReference {:path ":wat::core::Option.Some" :context "call head — not a builtin, not a registered function" :span #wat.core/Span {:file "tests/resolve/probe_arc255_the_blanket_hides_a_phantom_head__dot_spelling_reaches_the_accessor.wat" :line 39 :col 27 :end #wat.core/Option.Some {:value #wat.core/Pos {:line 39 :col 50}}}}]}}]
