#wat.macro/ProgramBodyEvalFailed {
  :message "macro :wat::core::-> — program body eval failed"
  :location #wat.core/Span {
    :file "tests/macros/probe_arc249_threading_witness_tf_empty.wat"
    :line 2
    :col 3
    :end #wat.core.Option/Some [
      #wat.core/Pos {
        :line 2
        :col 24
      }
    ]
  }
  :causes []
  :macro-name ":wat::core::->"
  :cause #wat.macro/MacroEvalRuntimeFailed {
    :message "macro_eval: runtime::eval failed"
    :location #wat.core/Span {
      :file "wat/core.wat"
      :line 1323
      :col 33
      :end #wat.core.Option/Some [
        #wat.core/Pos {
          :line 1323
          :col 37
        }
      ]
    }
    :causes []
    :cause #wat.runtime/MalformedForm {
      :message "malformed :wat::core::first form: :wat::core::first: WatAST List has 0 child(ren); no child at index 0"
      :location #wat.core/Span {
        :file "wat/core.wat"
        :line 1323
        :col 33
        :end #wat.core.Option/Some [
          #wat.core/Pos {
            :line 1323
            :col 37
          }
        ]
      }
      :causes []
      :head ":wat::core::first"
      :reason ":wat::core::first: WatAST List has 0 child(ren); no child at index 0"
    }
  }
}
