#wat.check/CheckErrors {
  :message "1 type-check error"
  :location nil
  :causes []
  :errors [
    #wat.check/MalformedForm {
      :message "malformed :wat::kernel::make-channel form: first argument :wat::kernel::Sender<:wat::core::i64> is not a valid type keyword"
      :location #wat.core/Span {
        :file "tests/channel/probe_arc254_channel_payload_portable_senders.wat.bad"
        :line 2
        :col 57
        :end #wat.core.Option/Some #wat.core/Pos {:line 2 :col 94}
      }
      :causes []
      :head ":wat::kernel::make-channel"
      :reason "first argument :wat::kernel::Sender<:wat::core::i64> is not a valid type keyword"
      :remedies []
    }
  ]
}
